name: Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check GHCR_PAT
        if: ${{ secrets.GHCR_PAT == '' }}
        run: |
          echo "GHCR_PAT secret is missing" && exit 1
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build and push
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/crm-bot:${{ github.sha }} .
          docker push ghcr.io/${{ github.repository_owner }}/crm-bot:${{ github.sha }}
